.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-main);
    box-shadow: var(--shawdown-02);
    z-index: 1;
}
.header__list{
    display: flex;
    list-style: none;
}
.header__list-item{
    display: block;
    padding: 0 20px;
}
.header__list-item-link{
    text-decoration: none;
    font-size: 2rem;
}
